<app-comments></app-comments>

<footer class="footer">
    <div class="container">
      <div class="row">
        <!-- Location Section -->
        <div class="col-lg-4 col-md-6 col-sm-12 text-center mb-4">
          <h3>Take it easy with location</h3>
          <p>112-Legere ancillae vix ne.<br>Te elit putent propriae eum, <br>aliquip nominati</p>
          <p>Phone: 00 000 000<br>Email: support&#64;domain.com</p> <!-- Escaped @ symbol -->
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-google-plus"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-pinterest"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fas fa-phone"></i></a>
          </div>
        </div>
  
        <!-- Working Hours Section -->
        <div class="col-lg-4 col-md-6 col-sm-12 text-center mb-4">
          <h3>Take it easy with location</h3>
          <p><strong>Monday To Friday</strong><br>
            8:00am to 10:00pm (Breakfast)<br>
            11:00am to 10:00pm (Lunch/Dinner)</p>
          <p><strong>Saturday & Sunday</strong><br>
            10:00am to 11:00pm (Brunch)<br>
            11:00am to 12:00pm (Lunch/Dinner)</p>
        </div>
  
        <!-- Contact Form Section -->
        <div class="col-lg-4 col-md-12 col-sm-12 text-center">
          <h3>Take it easy with location</h3>
          <form action="#" method="post">
            <input type="text" name="name" placeholder="First Name" class="form-control">
            <input type="email" name="email" placeholder="Email" class="form-control">
            <input type="text" name="subject" placeholder="Subject" class="form-control">
            <textarea name="message" placeholder="Message" class="form-control"></textarea>
            <button type="submit" class="btn-submit">CLICK HERE</button>
          </form>
        </div>
      </div>
    </div>
  </footer>
  