<div class="menu">
    <div class="menu-item">
        <img src="assets/images/all.jpg" alt="All">
        <span>All</span>
    </div>
    <div class="menu-item">
        <div class="label">
            <img src="assets/images/curry-cut.jpg" alt="Curry Cut">
        </div>
        <span>Curry Cut</span>
    </div>
    <div class="menu-item">
        <div class="label">
            <img src="assets/images/boneless.jpg" alt="Boneless">
        </div>
        <span>Boneless</span>
    </div>
    <div class="menu-item">
        <img src="assets/images/drumstick.jpg" alt="Drumstick">
        <span>Drumstick</span>
    </div>
    <div class="menu-item active">
        <img src="assets/images/chicken-breast-spl.jpg" alt="Chicken Breast Spl">
        <span>Chicken Breast Spl</span>
    </div>
    <div class="menu-item">
        <img src="assets/images/lollipop.jpg" alt="Lollipop">
        <span>Lollipop</span>
    </div>
</div>
