.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    position: relative;
  }
  
 
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .delivery-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  
  .card-title {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .card-text {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
  }
  
  .card-price {
    font-size: 1.1em;
    font-weight: bold;
    color: #000;
  }
  
  .card-weight {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
  }
  
  .btn-outline-danger {
    border: 2px solid #dc3545;
    color: #dc3545;
    padding: 0.5em 1em;
    text-transform: uppercase;
  }
  
  .btn-outline-danger:hover {
    background-color: #dc3545;
    color: #fff;
  }
  
  /* Media Queries */
  @media (max-width: 767.98px) {
    .card-img-top {
      max-height: 150px;
    }
  }